# DAIR ASSIGNMENT IV

Name:     Sanidhya \
SID:    22106024 \
Branch: Computer Science Engineering (Data Science)

## Creating a Database and Table

In [14]:
import sqlite3

In [15]:

#Connect to a new SQLite database:
connection = sqlite3.connect('lab_database.db')

cursor = connection.cursor()
cursor.execute('''CREATE TABLE students (
               id INTEGER PRIMARY KEY,
               name TEXT,
               age INTEGER,
               grade REAL
               )''')

connection.commit()
connection.close()

OperationalError: table students already exists

## Inserting Data

In [ ]:
connection = sqlite3.connect('lab_database.db')
cursor = connection.cursor()

cursor.execute("INSERT INTO students (name, age, grade) VALUES ('John Doe', 20, 85.5)")
cursor.execute("INSERT INTO students (name, age, grade) VALUES ('Jane Smith', 22, 92.0)")
cursor.execute("INSERT INTO students (name, age, grade) VALUES ('Bob Johnson', 21, 78.5)")

connection.commit()
connection.close()

NameError: name 'sqlite3' is not defined

## Querying Data

In [ ]:
connection = sqlite3.connect('lab_database.db')
cursor = connection.cursor()

cursor.execute("SELECT * FROM students")
all_students = cursor.fetchall()
print("All Students:")
for student in all_students:
    print(student)

cursor.execute("SELECT * FROM students WHERE grade > 90")
high_grade_students = cursor.fetchall()
print("\nStudents with Grade > 90:")
for student in high_grade_students:
    print(student)

cursor.execute("SELECT * FROM students WHERE age = 21")
age_21_students = cursor.fetchall()
print("\nStudents aged 21:")
for student in age_21_students:
    print(student)

connection.close()

All Students:
(1, 'John Doe', 20, 85.5)
(2, 'Jane Smith', 22, 95.0)

Students with Grade > 90:
(2, 'Jane Smith', 22, 95.0)

Students aged 21:

## Updating Data

In [ ]:
connection = sqlite3.connect('lab_database.db')
cursor = connection.cursor()

cursor.execute("UPDATE students SET grade = 95.0 WHERE name = 'Jane Smith'")

connection.commit()
connection.close()

## Deleting Data

In [ ]:
connection = sqlite3.connect('lab_database.db')
cursor = connection.cursor()
cursor.execute("DELETE FROM students WHERE name = 'Bob Johnson'")

connection.commit()
connection.close()

## Report Summary:

Observations:

    first we create a SQLite database file named "lab_database.db".
    then defines a table named "students" with four columns: "id", "name", "age", and "grade".

    Then we will add three new students named 'John Doe', 'Jane Smith', and 'Bob Johnson' with their respective ages and grades to the "students" table in the SQLite database "lab_database.db".

    then we will fetch and print all students, students with a grade greater than 90, and students aged 21 from the "students" table in the SQLite database "lab_database.db".

    then we will update the grade of the student named 'Jane Smith' to 95.0 in the "students" table of the SQLite database "lab_database.db".

    At last we will delete the record of the student named 'Bob Johnson' from the "students" table in the SQLite database "lab_database.db".

    

Conclusion:

    The script effectively creates a SQLite database file and defines a table structure within it. It demonstrates basic operations on SQLite database.