# DAIR ASSIGNMENT VI

Name:     Sanidhya \
SID:    22106024 \
Branch: Computer Science Engineering (Data Science)

In [1]:
import sqlite3

## Scenario 1:
### Let's consider a scenario where we have information about employees in a company. Each employee belongs to a department, and each department is located in a particular city. Employees have unique IDs, names, and salaries. Departments have unique IDs and names. Cities have unique IDs and names.

1. First Normal Form (1NF):
 All columns already contain atomic values, so it's already in 1NF.

2. Second Normal Form (2NF):
 In 2NF, we need to ensure that there are no partial dependencies.
 In the current table, there's no composite primary key, so there's no partial dependency.

3. Third Normal Form (3NF):
 In 3NF, we need to ensure there are no transitive dependencies. 
 
Normalized Tables:

Employees Table:
EmployeeID	,EmployeeName	,Salary	,DepartmentID
 1	          John	        50000	    101
 2	          Alice	        60000	    102
 3	          Bob	        55000	    101
 4	          Sarah	        58000	    103

Departments ,Table:
DepartmentID	DepartmentName
 101	                IT
 102	                HR
 103	                Finance

Cities Table:
CityID	,CityName
 201	     New York
 202	     Los Angeles
 203	     Chicago

## Scenario 2:
### Consider a database schema for an online retail store. The database contains several tables including Customers, Orders, Products, and Order_Items. The schema is as follows:

In [2]:
connection = sqlite3.connect("retailStore.db")

cursor = connection.cursor()

cursor.execute('''CREATE TABLE IF NOT EXISTS customers(
customer_id INT PRIMARY KEY,
customer_name TEXT NOT NULL,
email EMAIL,
phone INT NOT NULL
)''')

cursor.execute('''CREATE TABLE IF NOT EXISTS products(
product_id INT PRIMARY KEY,
product_name TEXT,
price INT,
stock_quatity INT
)''')

cursor.execute('''CREATE TABLE IF NOT EXISTS orders(
order_id PRIMARY KEY,
customer_id INT,
order_date DATE,
total_amount INT,
FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
)''')

cursor.execute('''CREATE TABLE IF NOT EXISTS order_items(
order_item_id PRIMARY KEY,
order_id INT,
product_id INT,
quantity INT,
unit_price INT,
FOREIGN KEY (order_id) REFERENCES orders (order_id),
FOREIGN KEY (product_id) REFERENCES products (product_id)
)''')

connection.commit()
connection.close()

In [3]:
connection = sqlite3.connect("retailStore.db")
cursor = connection.cursor()


# Values into customers table
cursor.execute('''INSERT INTO customers (customer_id , customer_name , email , phone) VALUES (1 , "Piyush Goyal" , "piyush@gmail.com" , 123456789)''')
cursor.execute('''INSERT INTO customers (customer_id , customer_name , email , phone) VALUES (2 , "Parth" , "parth@gmail.com" , 123356789)''')
cursor.execute('''INSERT INTO customers (customer_id , customer_name , email , phone) VALUES (3 , "Sanidhya" , "sanidhya@gmail.com" , 133456789)''')

# Values into products table
cursor.execute('''INSERT INTO products (product_id , product_name , price , stock_quatity) VALUES (1 , "Product A" , 10.99, 100)''')
cursor.execute('''INSERT INTO products (product_id , product_name , price , stock_quatity) VALUES (2 , "Product B" , 20.49, 150)''')
cursor.execute('''INSERT INTO products (product_id , product_name , price , stock_quatity) VALUES (3 , "Product C" , 15.99, 200)''')

# Values in orders table
cursor.execute('''INSERT INTO orders (order_id , customer_id , order_date , total_amount) VALUES (1 , 1 , 12/03/2024 , 55.75)''')
cursor.execute('''INSERT INTO orders (order_id , customer_id , order_date , total_amount) VALUES (2 , 2 , 13/03/2024 , 78.50)''')
cursor.execute('''INSERT INTO orders (order_id , customer_id , order_date , total_amount) VALUES (3 , 3 , 14/03/2024 , 92.25)''')

# Values in order_itmes table
cursor.execute('''INSERT INTO order_items (order_item_id , order_id , product_id , quantity , unit_price) VALUES (1 , 1 , 1 , 2 , 10.99)''')
cursor.execute('''INSERT INTO order_items (order_item_id , order_id , product_id , quantity , unit_price) VALUES (2, 1, 2, 1, 20.49)''')
cursor.execute('''INSERT INTO order_items (order_item_id , order_id , product_id , quantity , unit_price) VALUES (3, 2, 3, 3, 15.99)''')
cursor.execute('''INSERT INTO order_items (order_item_id , order_id , product_id , quantity , unit_price) VALUES (4, 3, 1, 4, 10.99)''')
cursor.execute('''INSERT INTO order_items (order_item_id , order_id , product_id , quantity , unit_price) VALUES (5, 3, 2, 2, 20.49)''')

connection.commit()
connection.close()

In [4]:
connection = sqlite3.connect("retailStore.db")
cursor = connection.cursor()

cursor.execute('''SELECT 
                    c.customer_id,
                    c.customer_name,
                    SUM(o.total_amount) AS total_spent
                FROM 
                    Customers c
                JOIN 
                    Orders o ON c.customer_id = o.customer_id
                GROUP BY 
                    c.customer_id,
                    c.customer_name
                ORDER BY 
                    total_spent DESC
                LIMIT 5''')

all_customers = cursor.fetchall()

print("All Customers : ")
for customer in all_customers:
    print(customer)

connection.close()

All Customers :
(3, 'Sanidhya', 92.25)
(2, 'Parth', 78.5)
(1, 'Piyush Goyal', 55.75)