# DAIR ASSIGNMENT VII

Name:     Sanidhya \
SID:    22106024 \
Branch: Computer Science Engineering (Data Science)

In [1]:
import sqlite3

## Scenario 1:
### Imagine a small library system where we need to keep track of books, authors, and the publishers who publish these books. Each book belongs to one author, and each author can write multiple books. Additionally, each book is published by one publisher.

1. First Normal Form (1NF): 
     Make sure every column contains atomic values, i.e., no repeating groups or arrays.
2. Second Normal Form (2NF):
     Ensure that there are no partial dependencies.
3. Third Normal Form (3NF):
     Make sure there are no transitive dependencies.

Updated Data:

Books:
BookID	Title	AuthorID
1	The Great Gatsby	1
2	To Kill a Mockingbird	2
3	1984	3

Authors:
AuthorID	AuthorName
1	F. Scott Fitzgerald
2	Harper Lee
3	George Orwell

Publishers:
PublisherID	PublisherName
1	Scribner
2	Harper & Brothers
3	Secker & Warburg

Book_Publisher:
BookID	PublisherID
1	1
2	2
3	3

Now, the data is in 3NF, with no transitive dependencies.

## Scenario 2:
### Imagine a database for a university. This database needs to store information about students, courses, and their enrollment. Each student can enroll in multiple courses, and each course can have multiple students enrolled. Additionally, each course is taught by a single instructor, and each instructor can teach multiple courses.

In [2]:
connection = sqlite3.connect("University.db")

cursor = connection.cursor()

cursor.execute('''CREATE TABLE IF NOT EXISTS Students(
StudentID INTEGER PRIMARY KEY,
StudentName TEXT,
DateOfBirth TEXT,
Gender TEXT               
)''')

cursor.execute('''CREATE TABLE IF NOT EXISTS Courses(
CourseID INTEGER PRIMARY KEY,
CourseName TEXT,
InstructorID INTEGER,
FOREIGN KEY (InstructorID) REFERENCES Instructors(InstructorID)
)''')

cursor.execute('''CREATE TABLE IF NOT EXISTS Instructors(
InstructorID INTEGER PRIMARY KEY,
InstructorName TEXT,
Department TEXT
)''')

cursor.execute('''CREATE TABLE IF NOT EXISTS Enrollment(
EnrollmentID INTEGER PRIMARY KEY,
StudentID INTEGER,
CourseID INTEGER,
EnrollmentDate TEXT,
FOREIGN KEY (StudentID) REFERENCES Students(StudentID),
FOREIGN KEY (CourseID) REFERENCES Courses(CourseID)
)''')

connection.commit()
connection.close()

In [3]:
connection = sqlite3.connect("University.db")
cursor = connection.cursor()


cursor.execute('''INSERT INTO Students (StudentID, StudentName, DateOfBirth, Gender) VALUES
(1, 'John Doe', '2000-05-15', 'Male'),
(2, 'Jane Smith', '2001-08-20', 'Female'),
(3, 'Alex Johnson', '1999-11-10', 'Male')''')

connection.commit()
connection.close()

In [4]:
connection = sqlite3.connect("University.db")
cursor = connection.cursor()


cursor.execute('''INSERT INTO Courses (CourseID, CourseName, InstructorID) VALUES
(101, 'Introduction to Computer Science', 1),
(102, 'English Composition', 2),
(103, 'Mathematics I', 3)''')

connection.commit()
connection.close()

In [5]:
connection = sqlite3.connect("University.db")
cursor = connection.cursor()


cursor.execute('''INSERT INTO Instructors (InstructorID, InstructorName, Department) VALUES
(1, 'Professor Anderson', 'Computer Science'),
(2, 'Professor Roberts', 'English'),
(3, 'Professor Williams', 'Mathematics')''')

connection.commit()
connection.close()

In [6]:
connection = sqlite3.connect("University.db")
cursor = connection.cursor()


cursor.execute('''INSERT INTO Enrollment (EnrollmentID, StudentID, CourseID, EnrollmentDate) VALUES
(1, 1, 101, '2024-01-10'),
(2, 2, 102, '2024-01-12'),
(3, 3, 103, '2024-01-15')''')

connection.commit()
connection.close()

Let's analyze the given tables and ensure they conform to the First, Second, and Third Normal Forms (1NF, 2NF, and 3NF):

### First Normal Form (1NF):
1. **Students**:
    - Already in 1NF, as each column contains atomic values and there are no repeating groups or arrays.
   
2. **Courses**:
    - Already in 1NF, as each column contains atomic values and there are no repeating groups or arrays.
   
3. **Instructors**:
    - Already in 1NF, as each column contains atomic values and there are no repeating groups or arrays.
   
4. **Enrollment**:
    - Already in 1NF, as each column contains atomic values and there are no repeating groups or arrays.

### Second Normal Form (2NF):
1. **Students**:
    - No partial dependencies exist as all non-key attributes (StudentName, DateOfBirth, Gender) are fully functionally dependent on the primary key (StudentID).

2. **Courses**:
    - No partial dependencies exist as all non-key attributes (CourseName, InstructorID) are fully functionally dependent on the primary key (CourseID).

3. **Instructors**:
    - No partial dependencies exist as all non-key attributes (InstructorName, Department) are fully functionally dependent on the primary key (InstructorID).

4. **Enrollment**:
    - No partial dependencies exist as all attributes (StudentID, CourseID, EnrollmentDate) are part of the composite primary key and there are no non-prime attributes.

### Third Normal Form (3NF):
1. **Students**:
    - No transitive dependencies exist.

2. **Courses**:
    - No transitive dependencies exist.

3. **Instructors**:
    - No transitive dependencies exist.

4. **Enrollment**:
    - No transitive dependencies exist.

All tables are already in 1NF, 2NF, and 3NF, so no further normalization is required. The database schema is well-structured and normalized.