# ADS ASSIGNMENT V

Name:     Sanidhya \
SID:    22106024 \
Branch: Computer Science Engineering (Data Science)

The Marketing department of Adventure Works Cycles wants to increase sales by targeting specific
customers for a mailing campaign. The company's database contains a list of past customers and a list of
potential new customers. By investigating the attributes of previous bike buyers, the company hopes to
discover patterns that they can then apply to potential customers. They hope to use the discovered patterns
to predict which potential customers are most likely to purchase a bike from Adventure Works Cycles.

In [2]:
import numpy
import pandas

### Reading the dataset

In [3]:
cust_raw = pandas.read_csv('AWCustomers.csv')
sales_raw = pandas.read_csv('AWSales.csv')

cust_raw.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06

In [4]:
sales_raw.head()

   CustomerID  BikeBuyer  AvgMonthSpend
0       21173          1          50.97
1       13249          1          53.11
2       29350          1          54.08
3       13503          1          56.93
4       22803          1          55.41

## Examining each feature of customers data

In [5]:
cust_raw.shape

(18361, 24)

In [6]:
#checking for null values in dataset
cust_raw.isna().sum()

CustomerID                  0
Title                   18260
FirstName                   0
MiddleName               7789
LastName                    0
Suffix                  18358
AddressLine1                0
AddressLine2            18050
City                        0
StateProvinceName           0
CountryRegionName           0
PostalCode                  0
PhoneNumber                 0
BirthDate                   0
Education                   0
Occupation                  0
Gender                      0
MaritalStatus               0
HomeOwnerFlag               0
NumberCarsOwned             0
NumberChildrenAtHome        0
TotalChildren               0
YearlyIncome                0
LastUpdated                 0
dtype: int64

In [7]:
# Columns with null values dropped.
cust = cust_raw.drop(['Title','MiddleName','Suffix','AddressLine2'],axis=1)

In [8]:
cust.head()

,CustomerID,FirstName,LastName,AddressLine1,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,Chad,Yuan,7090 C. Mount Hood,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0115,1987-11-13,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,Ryan,Perry,3651 Willow Lake Rd,Shawnee,British Columbia,Canada,V9B 2C3,787-555-0136,1972-07-21,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,Julia,Thompson,1774 Tice Valley Blvd.,West Covina,California,United States,91791,120-555-0111,1985-11-09,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,Theodore,Gomez,2103 Baldwin Dr,Liverpool,England,United Kingdom,L4 4HB,1 (11) 500 555-0167,1977-10-18,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,Marshall,Shan,Am Gallberg 234,Werne,Nordrhein-Westfalen,Germany,59368,1 (11) 500 555-0113,1975-02-05,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06

In [9]:
cust.isna().sum()

CustomerID              0
FirstName               0
LastName                0
AddressLine1            0
City                    0
StateProvinceName       0
CountryRegionName       0
PostalCode              0
PhoneNumber             0
BirthDate               0
Education               0
Occupation              0
Gender                  0
MaritalStatus           0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
LastUpdated             0
dtype: int64

In [10]:
sales_raw.shape

(18355, 3)

In [11]:
sales_raw.isna().sum()

CustomerID       0
BikeBuyer        0
AvgMonthSpend    0
dtype: int64

### Joining the databases based on CustomerID

In [12]:
data = pandas.merge(cust,sales_raw,on="CustomerID")

In [13]:
avg_month_spend = data['AvgMonthSpend']
yearly_income = data['YearlyIncome']

In [14]:
data.shape

(18361, 22)

In [15]:
data.head()

,CustomerID,FirstName,LastName,AddressLine1,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,BirthDate,...,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,BikeBuyer,AvgMonthSpend
0,21173,Chad,Yuan,7090 C. Mount Hood,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0115,1987-11-13,...,M,M,1,3,0,1,81916,2017-03-06,1,50.97
1,13249,Ryan,Perry,3651 Willow Lake Rd,Shawnee,British Columbia,Canada,V9B 2C3,787-555-0136,1972-07-21,...,M,M,1,2,1,2,81076,2017-03-06,1,53.11
2,29350,Julia,Thompson,1774 Tice Valley Blvd.,West Covina,California,United States,91791,120-555-0111,1985-11-09,...,F,S,0,3,0,0,86387,2017-03-06,1,54.08
3,13503,Theodore,Gomez,2103 Baldwin Dr,Liverpool,England,United Kingdom,L4 4HB,1 (11) 500 555-0167,1977-10-18,...,M,M,1,2,1,2,61481,2017-03-06,1,56.93
4,22803,Marshall,Shan,Am Gallberg 234,Werne,Nordrhein-Westfalen,Germany,59368,1 (11) 500 555-0113,1975-02-05,...,M,S,1,1,0,0,51804,2017-03-06,1,55.41

In [16]:
data.dtypes

CustomerID                int64
FirstName                object
LastName                 object
AddressLine1             object
City                     object
StateProvinceName        object
CountryRegionName        object
PostalCode               object
PhoneNumber              object
BirthDate                object
Education                object
Occupation               object
Gender                   object
MaritalStatus            object
HomeOwnerFlag             int64
NumberCarsOwned           int64
NumberChildrenAtHome      int64
TotalChildren             int64
YearlyIncome              int64
LastUpdated              object
BikeBuyer                 int64
AvgMonthSpend           float64
dtype: object

### Categorising data as Ordinal, Continuous or Categorical Data

In [17]:
ordinal = []
continous = []
categorical = []

for col, dtype in data.dtypes.items():
    if dtype==int:
        ordinal.append(col)
    elif dtype==float:
        continous.append(col)
    else:
        categorical.append(col)
        
print("Ordinal (rank based) features :", ordinal)
print("Continous features :", continous)
print("Categorical features :", categorical)

Ordinal (rank based) features : []
Continous features : ['AvgMonthSpend']
Categorical features : ['CustomerID', 'FirstName', 'LastName', 'AddressLine1', 'City', 'StateProvinceName', 'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate', 'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome', 'LastUpdated', 'BikeBuyer']

In [18]:
data.describe()

,CustomerID,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,BikeBuyer,AvgMonthSpend
count,18361.000000,18361.000000,18361.000000,18361.000000,18361.000000,18361.000000,18361.000000,18361.000000
mean,20241.987092,0.610588,1.270301,0.338162,0.850389,72754.779642,0.551767,51.766744
std,5336.332731,0.487630,0.913989,0.568957,0.927315,30686.014313,0.497326,3.437684
min,11000.000000,0.000000,0.000000,0.000000,0.000000,25435.000000,0.000000,44.100000
25%,15621.000000,0.000000,1.000000,0.000000,0.000000,53312.000000,0.000000,49.410000
50%,20248.000000,1.000000,1.000000,0.000000,0.000000,61851.000000,1.000000,51.420000
75%,24863.000000,1.000000,2.000000,1.000000,2.000000,87410.000000,1.000000,53.590000
max,29483.000000,1.000000,5.000000,3.000000,3.000000,139115.000000,1.000000,65.290000

## Categorising the features according to their data type

In [19]:
data['Gender'].unique()

array(['M', 'F'], dtype=object)

In [20]:
data['Gender'] = data['Gender'].apply(lambda x : 1 if x=='M' else 0)

In [21]:
data['MaritalStatus'].unique()

array(['M', 'S'], dtype=object)

In [22]:
data['MaritalStatus'] = data['MaritalStatus'].apply(lambda x : 1 if x=='M' else 0)

In [23]:
data['LastUpdated'].unique()

array(['2017-03-06', '2017-03-07'], dtype=object)

In [24]:
data['LastUpdated'] = data['LastUpdated'].apply(lambda x : 1 if x=='2017-03-06' else 2)

In [25]:
categorical.remove('MaritalStatus')
categorical.remove('LastUpdated')
categorical.remove('Gender')

In [26]:
encoded_data = pandas.get_dummies(data,columns=categorical)

In [27]:
encoded_data.head()

,Gender,MaritalStatus,LastUpdated,AvgMonthSpend,CustomerID_11000,CustomerID_11001,CustomerID_11002,CustomerID_11003,CustomerID_11004,CustomerID_11005,...,YearlyIncome_139018,YearlyIncome_139031,YearlyIncome_139032,YearlyIncome_139071,YearlyIncome_139082,YearlyIncome_139099,YearlyIncome_139109,YearlyIncome_139115,BikeBuyer_0,BikeBuyer_1
0,1,1,1,50.97,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,1,1,1,53.11,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,0,0,1,54.08,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,1,1,1,56.93,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,1,0,1,55.41,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [28]:
# we are now left with the following data types in our dataframe

encoded_data.dtypes.unique()

array([dtype('int64'), dtype('float64'), dtype('bool')], dtype=object)

### Applying binning methods to continous and categorical data types to reduce noise in data

In [29]:
# Yearly income and AvgMonthlyIncome are 2 features with high variance, which require binning
# methods
encoded_data['YearlyIncome'] = pandas.cut(encoded_data['YearlyIncome'],bins=5).apply(lambda x : (x.left+x.right)/2.0)
encoded_data['AvgMonthSpend'] = pandas.cut(encoded_data['AvgMonthSpend'],bins=5).apply(lambda x : (x.left+x.right)/2.0)

KeyError: 'YearlyIncome'

In [ ]:
data['AvgMonthSpend']

0        50.97
1        53.11
2        54.08
3        56.93
4        55.41
         ...
18356    48.14
18357    50.23
18358    49.56
18359    51.42
18360    52.27
Name: AvgMonthSpend, Length: 18361, dtype: float64

In [ ]:
encoded_data.head()

,CustomerID,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,BikeBuyer,...,Education_Bachelors,Education_Graduate Degree,Education_High School,Education_Partial College,Education_Partial High School,Occupation_Clerical,Occupation_Management,Occupation_Manual,Occupation_Professional,Occupation_Skilled Manual
0,21173,1,1,1,3,0,1,82275.0,1,1,...,True,False,False,False,False,True,False,False,False,False
1,13249,1,1,1,2,1,2,82275.0,1,1,...,False,False,False,True,False,True,False,False,False,False
2,29350,0,0,0,3,0,0,82275.0,1,1,...,True,False,False,False,False,True,False,False,False,False
3,13503,1,1,1,2,1,2,59539.0,1,1,...,False,False,False,True,False,False,False,False,False,True
4,22803,1,0,1,1,0,0,59539.0,1,1,...,False,False,False,True,False,False,False,False,False,True

## Normalisation of data

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

In [ ]:
income = scaler.fit_transform(encoded_data['YearlyIncome'].values.reshape(-1,1))
monthly_spend = scaler.fit_transform(encoded_data['AvgMonthSpend'].values.reshape(-1,1))

In [ ]:
data = scaler.fit_transform(encoded_data)

In [ ]:
data = pandas.DataFrame(data)

## Calculating similarity between yearly income and average monthly spend

In [ ]:
income = pandas.Series(income.flatten())
monthly_spend = pandas.Series(monthly_spend.flatten())

In [ ]:
#simple matching similarity

SMS = numpy.sum(income==monthly_spend)/(len(income))

In [ ]:
SMS

In [ ]:
# Jaccard similarity

JS = len(set((income)).intersection(monthly_spend))/(len(set(income).union(monthly_spend)))

In [ ]:
JS

In [ ]:
#cosine similarity

def cosine_similarity(a,b):
    return numpy.dot(a,b)/(numpy.linalg.norm(a)*numpy.linalg.norm(b))

CS = cosine_similarity(income,monthly_spend)

In [ ]:
CS

NameError: name 'CS' is not defined