# DAIR ASSIGNMENT V

Name:     Sanidhya \
SID:    22106024 \
Branch: Computer Science Engineering (Data Science)

*Scenario:* You are working for a small bookstore called &quot;Book Haven.&quot; The owner of the
store has asked you to create a simple database to manage their inventory and sales. The
database should include tables for storing information about books, authors, customers, and
sales transactions.

In [2]:
import sqlite3

## 1. Create a database named BookHaven.

In [2]:
connection = sqlite3.connect('BookHaven.db')
cursor = connection.cursor()

## 2. Create the following tables with the specified columns:

In [7]:
# a. Books: book_id, title, author_id, price, quantity

connection = sqlite3.connect('BookHaven.db')
cursor = connection.cursor()

cursor.execute('''CREATE TABLE Authors (
    AuthorID INTEGER PRIMARY KEY,
    AuthorName TEXT NOT NULL
               )''')

connection.commit()
connection.close()

OperationalError: table Authors already exists

In [4]:
# b. Authors: author_id, author_name, country

connection = sqlite3.connect('BookHaven.db')
cursor = connection.cursor()

cursor.execute('''CREATE TABLE Books (
    BookID INTEGER PRIMARY KEY,
    Title TEXT NOT NULL,
    AuthorID INTEGER,
    Genre TEXT,
    Price REAL,
    Quantity INTEGER,
    FOREIGN KEY (AuthorID) REFERENCES Authors(AuthorID)
               )''')

connection.commit()
connection.close()

In [8]:
#c. Customers: customer_id, customer_name, email, phone

connection = sqlite3.connect('BookHaven.db')
cursor = connection.cursor()

cursor.execute('''CREATE TABLE Customers (
    CustomerID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL,
    Email TEXT,
    Phone TEXT
               )''')
connection.commit()
connection.close()

In [1]:
connection = sqlite3.connect('BookHaven.db')
cursor = connection.cursor()

cursor.execute('''drop database BookHaven''')

NameError: name 'sqlite3' is not defined

In [10]:
#d. Sales: sale_id, customer_id, book_id, quantity_sold, total_price, sale_date

connection = sqlite3.connect('BookHaven.db')
cursor = connection.cursor()

cursor.execute('''CREATE TABLE SalesTransactions (
    TransactionID INTEGER PRIMARY KEY,
    CustomerID INTEGER,
    BookID INTEGER,
    Quantity INTEGER,
    TransactionDate TEXT,
    TotalPrice REAL,
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID),
    FOREIGN KEY (BookID) REFERENCES Books(BookID)
               )''')

connection.commit()
connection.close()

OperationalError: table SalesTransactions already exists

## 3. Insert at least 5 records into each table with sample data.

In [7]:
connection = sqlite3.connect('BookHaven.db')
cursor = connection.cursor()

cursor.execute('''INSERT INTO Authors (AuthorID, AuthorName) VALUES
(1, 'J.K. Rowling'),
(2, 'George R.R. Martin'),
(3, 'Harper Lee'),
(4, 'Agatha Christie'),
(5, 'Stephen King')
               ''')

In [ ]:
connection = sqlite3.connect('BookHaven.db')
cursor = connection.cursor()

cursor.execute('''INSERT INTO Books (BookID, Title, AuthorID, Price, Quantity) VALUES
(1, 'Harry Potter and the Philosopher''s Stone', 1, 10.99, 100),
(2, 'A Game of Thrones', 2, 12.50, 75),
(3, 'To Kill a Mockingbird', 3, 9.75, 50),
(4, 'Murder on the Orient Express', 4, 8.99, 60),
(5, 'The Shining', 5, 11.25, 80)
''')